/* BASE CONFIG */
@import "../css/fonts.css";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Rajdhani', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
}

.j-c {
    justify-content: space-between;
}

.row {
    display: flex;
}

/* BASE CONFIG */
/* HEADER */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
}

.menu_nav {
    display: flex;
    list-style: none;
}

.menu_nav li a {
    font-weight: 600;
    font-size: 20px;
    line-height: 16px;
    text-transform: uppercase;
    color: rgb(48, 43, 43);
    margin-right: 25px;
    transition: 0.4s;
}

.menu_nav li a:hover {
    text-decoration: underline;
}

.nav_profile {
    margin-left: 90px;
}

.header_logo {
    font-weight: 600;
    font-size: 33px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: rgb(48, 43, 43);
}
/* HEADER */
/* MODILE_MENU */
.menu-btn {
    display: block;
    width: 40px;
    height: 40px;
    position: relative
}

.menu-btn span:nth-child(1) {
    display: block;
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #737373;
    top: 50%;
    left: 50%;
    margin-left: -10px;
    margin-top: -4px;
}

.menu-btn span:nth-child(2) {
    display: block;
    position: absolute;
    width: 16px;
    height: 2px;
    background-color: #737373;
    top: 50%;
    left: 50%;
    transform: translateY(2px);
    margin-left: -10px;
    margin-top: -2px;
}

.menu-btn span:nth-child(3) {
    display: block;
    position: absolute;
    width: 12px;
    height: 2px;
    background-color: #737373;
    top: 50%;
    left: 50%;
    transform: translateY(5px);
    margin-left: -10px;
    margin-top: -1px;
}

.mobile_menu {
    display: none;
}
/* MODILE_MENU */
.hero {
    background: url(../img/moreimg.webp) no-repeat center/cover;
    height: 100vh;
}

.hero_content-title {
    display: flex;
    align-items: flex-end;
    height: 580px;
    font-weight: 600;
    font-size: 45px;
    letter-spacing: 1px;
    line-height: 40px;
    color: rgb(48, 43, 43);
}

.hero_line {
    border-bottom: 2px solid #f0c417;
    width: 120px;
    margin-top: 25px;
}

.hero_content-subtitle {
    width: 400px;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 1px;
    color: rgb(48, 43, 43);
    margin-top: 10px;
}
/* HERO */
/* MOREPRODUCT */
.moreproduct {
    padding: 100px 0;
}

.moreproduct_left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.moreproduct_right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.moreproduct_img {
    margin-top: 30px;
    width: 550px;
    height: 500px;
}

.moreproduct_img1 {
    margin-top: 30px;
    width: 550px;
    height: 500px;
}

.moreproduct_left-title {
    text-align: center;
    width: 450px;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 20px;
    color: rgb(48, 43, 43);
    margin-top: 20px;
}

.moreproduct_left-subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.3px;
    color: rgb(48, 43, 43);
    margin-top: 15px;
}

.moreproduct_btn {
    text-transform: uppercase;
    width: 110px;
    height: 38px;
    border-radius: 3px;
    background: #e6e6e6;
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #000000;
    transition: 0.3s;
    margin-top: 20px;
}

.moreproduct_btn:hover {
    border: 1px solid #FFA62B;
    color: #FFA62B;
    background: #fff;
}
/* MOREPRODUCT */
/* FOOTER */
.footer {
    background: rgb(48, 43, 43);
    padding: 113px 0;
}

.footer_left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_middle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_left-title {
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 40px;
    margin-bottom: 30px;
    text-align: center;
}

.footer_links {
    font-weight: 400px;
    font-size: 20px;
    color: #fff;
    margin-bottom: 20px;
    letter-spacing: 0.8px;
}

.footer_links:hover {
    text-decoration: underline;
}

.footer_inp {
    width: 350px;
    height: 45px;
    padding-left: 20px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    text-align: center;
}

.footer_btn {
    border-radius: 5px;
    width: 140px;
    height: 45px;
    color: #FFA62B;
    background: #332;
    transition: 0.3s;
}

.footer_btn:hover {
    border: 2px solid #FFA62B;
    background: #fff;
}

.footer_left-subtitle {
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}
/* FOOTER */